// @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.contact-body {
  color: rgb(255, 255, 255);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, white 99.9%);
  width: 100vw;

  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contact-container {
    margin-top: 33%;
    backdrop-filter: blur(15px);
    background-color: #24242400;
    padding: 10vh;

    h1 {
      font-family: "Audiowide", sans-serif;
      text-align: center;
      font-size: 30px;
      color: white;
    }
    #contacts {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      h3,
      a {
        border: 1px rgb(0, 0, 0) solid;
        border-radius: 50px;
        padding: 20px;
        margin: 2vw;
        font-size: 20px;
        font-weight: 400;
        color: inherit;
        text-decoration: none;
        // cursor: auto;
      }

      a:hover {
        border: 1px rgb(255, 255, 255) solid;
      }
    }
    @media (max-width: 480px) {
      #contacts {
        margin: 0 -200px 0 -200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .section {
        padding: 10vw;
      }
    }
  }
}
@media (max-width: 480px) {
  .contact-body {
    height: 100vh;
    .contact-container {
    }
  }
}
